.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pre-booking-title {
    text-align: center;
}

.pre-booking-form{
    width: 350px;
    box-shadow: 0 0 10px #cccccc;
    border-radius: 10px;
    padding: 30px;
}

.pre-booking-datepicker {
    text-align: center;
}

.btn-count{
    width: 100px;
    height:50px;
    display: flex;
    justify-content: center;
    border: 1px solid #dbdbdb;
    border-radius:30px;
}

.btn-count > button {
    background: none;
    border: none;
    height:100%;
    margin:0 5px;
    padding:0 15px;
    font-size: larger;     
}

.btn-count > button:hover {
    cursor: pointer;
}

.adults-count {
    margin-top:20px;
}

.adults-count span, .children-count span {
    font-size: medium;
    font-weight: 200;
}

.children-age-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.children-age-form > ul{
    list-style-type: none;
    padding-left:0;
}

.children-age-form > ul > li{
    padding: 3% 0;
}

.children-age-form input{
    width: 200px;
}

.pre-booking-submit-button {
    background: #2561ec;
    color:white;
    box-shadow: 0 6px 0  #163d97;
    font-weight: bold;
    font-size:large;
    border:none;
    padding: 3%;
    border-radius: 50px;
    cursor: pointer;
    outline:0;
}

.pre-booking-submit-button:hover {
    position:relative;
    top:2px;
    box-shadow: 0 4px 0  #163d97;
}

.pre-booking-submit-button:active {
    position:relative;
    top:4px;
    box-shadow: 0 2px 0  #163d97;
}
